* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #276cd3;
  --primary: #f9fbfd92;
  --border: #724a00;
}

body {
  background-color: var(--background);
}

main {
  max-width: 1440px;
  min-height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  justify-self: center;
  background-color: var(--primary);
}

section.main-content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  gap: 10px;
  margin: 10px 0px;
  padding: 0px 10px;

  section.introduction {
    display: flex;
    flex-flow: column wrap;
    flex-grow: 1;
    max-width: 800px;

    h1 {
      font-size: 1.5rem;
      text-align: center;
      margin: 0px auto 10px auto;
      width: 100%;
      border-bottom: #000000 solid 0.3rem;
    }

    article.resume {
      padding: 0px 10px;
      border-radius: 10px;
      gap: 10px;
      p {
        text-align: justify;
        margin-bottom: 10px;
      }
    }
  }

  section.researchers {
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
    min-width: 200px;
    max-width: 100%;
    flex-grow: 1;

    h1 {
      font-size: 1.5rem;
      text-align: center;
      margin: 10px auto;
      width: 100%;
      border-bottom: #000000 solid 0.3rem;
    }

    div.researcher {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      gap: 10px;

      img {
        max-width: 50px;
        max-height: 50px;
        border-radius: 50%;
      }

      h2 {
        font-size: 1rem;
        text-align: center;
      }
    }
  }
}

section.main-info {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 10px;
  margin: 0px 10px;

  section {
    display: flex;
    flex-flow: column wrap;
    padding: 10px;
    flex-grow: 1;
    max-width: 400px;
    border-radius: 10px;
    border: var(--border) solid 0.1rem;

    h1 {
      font-size: 1.5rem;
      text-align: center;
      border-bottom: #000000 solid 0.3rem;
      margin-bottom: 5px;
    }
  }
}

@media (max-width: 800px) {
  section.main-content {
    flex-flow: row wrap;
  }
}
