*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #276cd3;
}

main{
    max-width: 1440px;
    flex-flow: column wrap;
    display: flex;
    justify-self: center;
}

section.main-content{
    display: flex;
    flex-flow: row wrap;

    section.introduction{
        display: flex;
        flex-flow: column wrap;
        max-width: 1000px;
        
        h1{
            font-size: 1.5rem;
            text-align: center;
            margin: 10px auto;
            background-color: #ffffff80;
            width: 100%;
            border-bottom: #000000 solid 0.3rem;
        }
        
        article.resume{
            padding: 0px 10px;
            background-color: #ffffff80;
            border-radius: 10px;
        }
    }
}

section.main-info{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    section{
        display: flex;
        flex-flow: column wrap;
        padding: 10px;
        margin: 0px 10px;
        flex-grow: 1;
        max-width: 500px;
        background-color: #ffffff80;
        border-radius: 10px;

        h1{
            font-size: 1.5rem;
            text-align: center;
            border-bottom: #000000 solid 0.3rem;
            margin-bottom: 5px;
        }
    }
}