*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #276cd3;
    --primary: #f9fbfd92;
  }

body{
    background-color: var(--background);
}

main{
    max-width: 1440px;
    display: flex;
    flex-flow: column wrap;
    justify-self: center;
}

section.main-content{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    gap: 10px;
    margin: 10px 0px;

    section.introduction{
        display: flex;
        flex-flow: column wrap;
        flex-grow: 1;
        
        h1{
            font-size: 1.5rem;
            text-align: center;
            margin: 0px auto 10px auto;
            background-color: var(--primary);
            width: 100%;
            border-bottom: #000000 solid 0.3rem;
        }
        
        article.resume{
            padding: 0px 10px;
            background-color: var(--primary);
            border-radius: 10px;
            text-align: justify;
            gap: 10px;
            p{
                margin-bottom: 10px;
            }
        }
    }

    section.researchers{
        display: flex;
        flex-flow: row wrap;
        gap: 10px; 
        min-width: 200px;
        max-width: 350px;
        flex-grow: 0.9;
        background-color: var(--primary);

        h1{
            font-size: 1.5rem;
            text-align: center;
            margin: 10px auto;
            width: 100%;
            border-bottom: #000000 solid 0.3rem;
        }

        div.researcher{
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            gap: 10px;

            img{
                max-width: 50px;
                max-height: 50px;
                border-radius: 50%;
            }

            h2{
                font-size: 1rem;
                text-align: center;
            }
        }
    }
}

section.main-info{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 10px;

    section{
        display: flex;
        flex-flow: column wrap;
        padding: 10px;
        flex-grow: 1;
        max-width: 400px;
        background-color: var(--primary);
        border-radius: 10px;

        h1{
            font-size: 1.5rem;
            text-align: center;
            border-bottom: #000000 solid 0.3rem;
            margin-bottom: 5px;
        }
    }
}

@media (max-width: 500px) {
    section.main-content{
        flex-flow: row wrap;
    }
    section.researchers{
        max-width: 500px;
        width: 100%;
    }
  }